*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.topDiv{
	display: grid; z-index: 1000; background-color: white;
	padding: 0; margin: 0;
}
.span1{
	font-size: 50px; color: orangered; background-color: white;
}
.span2{
	position: absolute; right: 10px;
	top: 25px;
}
.span2 a:hover{
	text-decoration: none;
}
.img{
	position: absolute; top: 50.5px; z-index: 2
}
.nav{
	position: relative; top:289px;
	background-color: khaki;
	display: flex;
	justify-content: center;
}
ul{
	list-style: none; padding: 0; margin: 0;
}
li{
	display: inline; font-size: 25px;
}
li a{
	text-decoration: none;
	display: inline-block;
	padding: 10px 40px; color: orangered;
}
li a:hover{
	background-color: darkkhaki;
}
